.navbar {
  background: #000000;
  z-index: 50;
  margin: 0;
  padding: 0;
  width: 100%;
  position: fixed; /*Set the navbar to fixed position  */
  top: 0;
}

.navbar-brand {
  font-size: 45px;
  letter-spacing: 8px;
  padding-left: 60px;
  padding-right: 60px;
  color: #e0be89;
  margin: 0 auto;
}

.nav-item {
  font-size: 21px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  letter-spacing: 2px;
  color: #e0be89;
  font-family: "Bebas Neue", sans-serif;
  cursor: pointer;
}

.fa-bars {
  color: #e0be89;
}

button.navbar-toggler {
  border-style: hidden;
}

button.navbar-toggler:active,
button.navbar-toggler:visited {
  border-style: hidden;
}

.navbar-toggler {
  margin-top: 10px;
}

@media (max-width: 888px) {
  li.nav-item.navbar-text {
    padding-left: 10px;
    padding-right: 10px;
  }
  .navbar-brand {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 25px;
  }
  .navbar {
    background: transparent;
    z-index: 50;
    margin: 0;
    padding: 0;
    width: 100%;
    position: static; /*Set the navbar to fixed position  */
    top: 0;
  }
}
@media (max-width: 767px) {
  .navbar {
    background: transparent;
    z-index: 50;
    margin: 0;
    padding: 0;
    width: 100%;
    position: static; /*Set the navbar to fixed position  */
    top: 0;
  }
}
